@charset "UTF-8";

/*Esse Css é para o formato da tela quando estiver deitada*/

/*{
    margin: 0%;
    padding: 0px;
}

main{
    width: 90%;
    height: 89%;
    margin-top: 1%;
}

main > form > h1{
    font-size: 0.5em;
    
}

main > form > p{
    font-size: 0.3em;
    position: absolute;
    transform: translate(2px , -15px);
    padding-right: 50%;
}

main > form > input{
    height: 5px;
    width: 70px;
    margin-left: 30px;
    padding-bottom: 4px;
}

main > form > input::placeholder{
    font-size: 0.5em;
}

main > form > #contato{
    margin-top: 10px;
}

main > form > #senha{
    margin-top: 1%;
    position: absolute;
    transform: translate(-105px, 45px);
}

main > form > #envio, #resgate{
    height: 15%;
}

main > form > #envio{
    width: 25%;
    position: absolute;

}*/